/* Import custom fonts */
@import url("./fonts");

/* Tailwind CSS Setup */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  /* Set global font and background color, remove default margin and padding */
  font-family: "Figtree", serif;
  background-color: #F8F8F8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1B2A34;
}

html {
  /* Enable smooth scrolling */
  scroll-behavior: smooth;
}

/* Header Section */
header {
  @apply flex justify-between items-center py-6 mx-4 xl:mx-32 border-b;
}

header>img {
  @apply w-40 sm:w-auto;
}

header>button {
  @apply px-4 tiny:px-8 h-10 bg-primaryColor text-sm text-white font-semibold rounded;
}

/* Footer Section */
footer {
  @apply lg:flex justify-between gap-4 items-end text-sm bg-primaryColor text-[#9CB0BD] py-16 px-4 2xl:px-32;
}

nav {
  @apply flex flex-wrap gap-3 text-sm font-medium;
}

/* Hero Section */
#hero {
  @apply relative flex flex-col-reverse lg:flex-row lg:gap-16 items-center lg:items-start justify-between xl:ml-32 xl:mr-12 my-7 overflow-hidden sm:overflow-visible
}

#hero>div {
  @apply w-full lg:max-w-[580px] text-primaryColor lg:mt-24 p-4 pt-28 lg:pt-0 mt-60 z-40 gradient
}

#hero form {
  @apply sm:flex justify-center px-3 pb-4 sm:pb-0 items-center w-full sm:h-[72px] mt-10 mb-6 rounded bg-white;
}

#hero form>input {
  @apply w-full h-full p-4 outline-none text-center sm:text-left;
}

#hero form>button {
  @apply flex-shrink-0 w-full sm:w-auto px-9 h-12 bg-tertiaryColor text-white font-bold rounded-sm m-auto sm:m-0;
}

#hero>aside {
  @apply -right-28 sm:-right-0 absolute lg:relative top-0 w-fit
}

#hero>aside div {
  @apply flex justify-center items-center rounded-full flex-shrink-0;
}

#hero>aside>img {
  @apply absolute rounded;
}

@media (max-width: 1024px) {
  .gradient {
    background: linear-gradient(180deg, rgba(248, 248, 248, 0.00) 0.06%, #F8F8F8 19.53%);
  }
}

/* Horizontal line style */
.line {
  @apply h-[1px] w-full bg-[#EBEBEB] hidden sm:block;
}

/* Testimonial Section */
#testimonial {
  @apply flex items-center gap-5 overflow-clip mt-8;
}

#testimonial>article {
  @apply flex flex-col justify-center px-[30px] h-[177px] bg-white max-w-96 text-sm flex-shrink-0;
  box-shadow: 0px 12px 20px 0px rgba(27, 42, 52, 0.03);
}

#testimonial>article>p {
  @apply text-secondaryColor mt-auto;
}

#testimonial>article>hr {
  @apply my-6;
}

#testimonial>article>div {
  @apply flex items-center justify-between mb-6;
}

/* Reasons Section */
#reasons {
  @apply bg-tertiaryColor py-14 px-4 text-center;
}

#reasons img {
  @apply m-auto;
}

#reasons>p {
  @apply text-4xl md:text-5xl font-medium text-white;
}

#reasons>div {
  @apply flex flex-col lg:flex-row justify-center items-center gap-5 mt-12;
}

#reasons>div>article {
  @apply bg-white p-10 max-w-[380px] rounded;
}

#reasons>div>article>div {
  @apply flex w-[75px] h-[75px] bg-[#F8F8F8] rounded-full m-auto;
}

#reasons>div>article>h2 {
  @apply text-[30px] font-semibold text-primaryColor mt-[18px];
}

#reasons>div>article>p {
  @apply text-sm text-secondaryColor mt-[14px];
}

/* Will Get Section */
#will-get {
  @apply relative flex flex-col lg:flex-row justify-between py-24 px-4 xl:px-32 overflow-hidden;
}

#will-get>img {
  @apply absolute -bottom-72 sm:-bottom-80 -rotate-90 sm:-rotate-0 left-auto sm:left-0 -z-30;
}

#will-get>p {
  @apply text-4xl md:text-5xl font-medium text-primaryColor text-center lg:text-left mb-9;
}

#will-get>div {
  @apply flex flex-col justify-center items-center gap-12 text-center sm:text-left;
}

#will-get article {
  @apply flex flex-col sm:flex-row justify-center items-center gap-8;
}

#will-get article>div:first-child {
  @apply flex w-[75px] h-[75px] bg-white rounded-full m-auto;
}

#will-get h2 {
  @apply text-[30px] font-semibold text-primaryColor;
}

#will-get article p {
  @apply text-sm text-secondaryColor mt-[14px];
}

/* FAQs Section Container */
#faqs {
  @apply xl:flex justify-center items-baseline text-left gap-5 mt-7 mx-4 md:mx-32 text-primaryColor;
}

/* FAQ Columns */
#faqs>div {
  @apply flex flex-col gap-4 w-full mt-4;
}

/* FAQ Item Container */
#faqs>div>article {
  @apply px-6 py-4 bg-white rounded;
}

/* FAQ Question */
#faqs .q {
  @apply flex justify-between gap-2 items-center font-semibold cursor-pointer;
}

/* FAQ Answer */
#faqs .answer {
  @apply text-left text-sm text-secondaryColor pt-4 border-t mt-4;
}

/* Popup Section */

#popup>div {
  @apply flex flex-col sm:flex-row sm:justify-center bg-white max-w-[300px] sm:max-w-[580px]
}

#popup>div>img {
  @apply h-[204px] sm:h-auto sm:min-w-[280px]
}

#popup>div>div {
  @apply relative p-6 bg-[#F8F8F8]
}

#popup article {
  @apply flex flex-col gap-4 mt-4
}

#popup p {
  @apply flex justify-center items-center gap-4 text-sm text-primaryColor
}

#popup h2 {
  @apply text-2xl font-bold text-primaryColor
}

#popup form {
  @apply px-3 pb-4 w-full mt-8 mb-6 rounded bg-white
}

#popup form {
  @apply px-3 pb-4 w-full mt-8 mb-6 rounded bg-white
}

#popup input {
  @apply w-full h-full p-4 outline-none text-center
}

#popup button {
  @apply flex-shrink-0 w-full px-9 h-12 bg-tertiaryColor text-white font-bold rounded-sm m-auto
}

#popup form {
  @apply px-3 pb-4 w-full mt-8 mb-6 rounded bg-white
}

#closePopupBtn {
  @apply absolute top-6 right-6 cursor-pointer
}



/* --------------------------------------- FOR QUIZ --------------------------------------- */


#quiz {
  @apply flex flex-col items-center
}

#quiz>h1 {
  @apply text-2xl sm:text-[32px] my-4 text-center max-w-[547px] mx-auto
}

#quiz>section {
  @apply max-w-[980px] bg-white mx-4 my-9 px-4 md:px-10 py-4 sm:py-8
}

#quiz>section h2 {
  @apply text-2xl font-bold max-w-[354px] mb-5
}

#quiz>section h3 {
  @apply font-semibold mt-2
}

#quiz>section button {
  @apply flex ml-auto bg-tertiaryColor px-8 py-2 rounded text-white font-semibold
}

#quiz article {
  @apply grid grid-cols-2 gap-[13.5px] sm:grid-cols-3 xl:grid-cols-4 my-6
}

#quiz article div {
  @apply border border-[#ECECEC] py-4 px-5 rounded-md
}

#quiz article div.active {
  @apply bg-[#F8FFFF] outline outline-2 outline-tertiaryColor
}

#quiz article div>p {
  @apply text-[13px] text-secondaryColor mt-1
}

#quiz nav {
  @apply flex gap-[18px] text-sm font-medium text-primaryColor
}

#quiz nav>p {
  @apply flex items-center gap-2
}

#quiz nav span {
  @apply flex justify-center items-center w-5 h-5 rounded-full bg-[#9CB0BD] text-white text-xs flex-shrink-0
}

#quiz nav>p.active {
  @apply text-tertiaryColor;
}

#quiz nav>p.active>span {
  @apply bg-tertiaryColor text-white;
}



/* --------------------------------------- FOR About --------------------------------------- */
/* Top bar styling */
#top-bar {
  @apply flex flex-col md:flex-row gap-6 justify-center items-center text-center px-6 py-3 text-xs;
  background: linear-gradient(90deg, #4CCCCC 0%, #56DFDF 52%, #4CCCCC 100%);
}

/* Paragraph styling within the top bar */
#top-bar>p {
  @apply text-sm font-medium md:mr-6;
}

/* Span styling within the top bar */
#top-bar>span {
  @apply flex w-full md:w-auto justify-center gap-3 flex-shrink-0 h-[30px];
}

/* Input field styling within the top bar span */
#top-bar>span>input {
  @apply bg-[#B1E7E7] rounded w-full vsm:min-w-52 max-w-80 px-3 py-3 vsm:text-center outline-none;
}

/* Button styling within the top bar span */
#top-bar>span>button {
  @apply flex-shrink-0 w-full max-w-24 h-full bg-primaryColor text-white font-semibold rounded;
}

/* Hero article section styling */
#hero-article {
  @apply my-9 text-center max-w-[1210px] px-6 lg:px-32 mx-auto;
}

/* Paragraph styling within the hero article section */
#hero-article>p {
  @apply text-xs font-semibold bg-[#D4E8E8] rounded w-[163px] py-3 m-auto;
}

/* Heading 1 styling within the hero article section */
#hero-article>h1 {
  @apply text-4xl md:text-5xl font-bold mt-4;
}

/* Heading 2 styling within the hero article section */
#hero-article>h2 {
  @apply mt-9 font-bold;
}

/* Heading 3 styling within the hero article section */
#hero-article>h3 {
  @apply text-sm font-medium text-secondaryColor mt-2;
}

/* Article section styling */
#article>div {
  @apply flex flex-col xl:flex-row justify-between items-start gap-12 my-12;
}

/* Link styling within the article section */
#article a {
  @apply underline;
}

/* Heading 1 styling within the article section */
#article h1 {
  @apply text-[22px] font-bold;
}

/* Unordered list styling within the article section */
#article ul {
  @apply list-disc list-outside pl-6;
}

/* Sidebar styling within the article section */
#article aside {
  @apply flex-shrink-0 mx-auto;
}

/* First section within the sidebar */
#article aside>section:first-child {
  @apply w-full xl:max-w-[350px] bg-white px-5 md:px-[30px] py-5;
}

/* Last section within the sidebar */
#article aside>section:last-child {
  @apply flex my-6 justify-center xl:justify-start;
}

/* Div styling within the sidebar */
#article aside div {
  @apply flex flex-col gap-4 text-sm font-medium mt-5;
}

/* Span styling within the sidebar */
#article aside span {
  @apply flex items-center gap-5;
}