/* Import custom fonts */
@import url("./fonts");

/* Tailwind CSS Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid red; */
}

/* Global Styles */
body {
  font-family: "Figtree", serif;
  background-color: #F8F8F8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.shdw {
  box-shadow: 0px 12px 20px 0px rgba(27, 42, 52, 0.03);
}